<nav class='navbar navbar-default'>
	<div class='container-fluid'>
		<div class="navbar-header">
			<a href="#" class="navbar-brand logo">PostmatesDash</a>
		</div>
		<ul class='nav navbar-nav'>
			<li id='dashboard'><a href="/dashboard">Dashboard</a></li>
			<li id='jobList'><a href="/jobList">Job List</a></li>
			<li id='addData'><a href="/addData">Add Data</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
        	<li><a href="/logout">Logout</a></li>
        </ul>
	</div>
</nav>