<!DOCTYPE html>
<html>
	<head>
		<title>PostmatesDash</title>
		<link rel='stylesheet' href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">  <!-- load fontawesome -->
		<link rel="stylesheet" href="/stylesheets/bootstrap_css/bootstrap.css">
		<style>
			body {padding-top:50px;}
			img {width: 140px;}
			.fa-sign-out {float: right;}
			form {
				padding: 0 15% 0 15%;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
